.right {
    position: absolute;
    right: 400px;
    width: 300px;
    
    
}
.left{
    position: absolute;
    left: 20px;
    width: 300px;
    
    
}
table{
    border-collapse: collapse;
    
}